/* Add CSS styling here */
tml, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

html {
    font-size: 62.5%;
}
/* reset complete */

/* declarations */
html {
    background-color: bisque;
}

body {
    background-color: silver;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* header declarations */
h1 {
    font-size: 5rem;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

h3 {
    font-size: 3rem;
    color: darkslategray;
    margin: 1rem 0;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0;
}

nav a {
    background-color: navy;
    color:antiquewhite;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* main section declarations */
.about, .main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
    margin: 3rem auto;
}

.about p, .main p {
    color: darkslategray;
    background-color: antiquewhite;
    width: 80%;
    font-size: 2rem;
    text-align: center;
    padding: 1%;
}

/* project declarations */
.project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.project-list img {
    width: 15%;
    border-radius: 1rem;
}

.project-list p {
    color: darkslategray;
    background-color: antiquewhite;
    width: 20%;
    font-size: 2rem;
    text-align: left;
    padding: 1%;
    border-radius: 1rem;
}

/* footer declarations */
footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.contacts {
    display: flex;
    flex-flow: column nowrap;
}

.contacts a {
    font-size: 2rem;
}
